<ion-header mode="ios">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Publicar Anuncio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4" class="col-new-photo">
        <img src="../../assets/img/camera.png" alt="foto" class="new-photo"> 
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <ion-list> 
    <ion-label>Sobre mí</ion-label>
    <ion-item class="item-input">
      <ion-textarea></ion-textarea>
    </ion-item>
    <br>
    <ion-label>Mis servicios</ion-label>
    <ion-item class="item-input">
      <ion-input></ion-input>
    </ion-item>
    <br>
    <ion-label>Lugar de encuentro</ion-label>
    <ion-item class="item-input">
      <ion-input></ion-input>
    </ion-item>
    <br>
    <ion-item class="item-input">
      <ion-input placeholder="Tiempo"></ion-input>
    </ion-item>
    <br>
    <ion-item class="item-input">
      <ion-input placeholder="Teléfono"></ion-input>
    </ion-item>
    <br>
    <ion-item class="item-input">
      <ion-input placeholder="Whatsapp"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button ion-button expand="full" color="primary" class="ion-text-center">
    <ion-title class="text-btn">Enviar</ion-title>
  </ion-button>
</ion-footer>
