<ion-header mode="ios">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contáctanos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1 class="ion-text-left">Placeme</h1>
  <h3>Truvalia Global Classifieds Ood</h3>
  <ion-list> 
    <ion-text color="light">
      <ion-label class="label-text">Email: </ion-label>
      <ion-label>info@placeme.com</ion-label>
    </ion-text>
    <br>
    <ion-text color="light">
      <ion-label class="label-text">Whatsapp: </ion-label>
      <ion-label>985 597 772</ion-label>
    </ion-text>
    <br>
    <ion-text color="light">
      <ion-label class="label-text">Horario: </ion-label>
      <ion-label>Lunes a Viernes 10am a 6pm</ion-label>
    </ion-text>
    <br>
    <h3 class="ion-text-center">Formulario de contacto</h3>
    <form> 
      <ion-item>
        <ion-input required placeholder="Nombres"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input required placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input required placeholder="Teléfono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input required placeholder="Asunto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea required placeholder="Mensaje"></ion-textarea>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
